{% extends "Layout.html" %}
{% block title %}Orthography{% endblock %}

{% block pageTitle %}Linguistics: Orthography{% endblock %}

{% block pageText %}
<div class="cf">
    <img src="{{url_for('static', filename='images/script.jpg')}}" alt="A man painting a sign in Mandarin">
</div>
<br>
An orthography is a set of conventions for writing a language. It includes norms of spelling,
hyphenation, capitalization, word breaks, emphasis, and punctuation.<br><br>

Most transnational languages in the modern period have a system of writing,
and for most such languages a standard orthography has been developed, often based
on a standard variety of the language, and thus exhibiting less dialect variation
than the spoken language. Sometimes there may be variation in a language's orthography,
as between American and British spelling in the case of English orthography.
In some languages orthography is regulated by language academies, although for many languages
(including English) there are no such authorities. Even in the latter languages, a significant
amount of consensus arises naturally, although a maximum of consistency or standardization occurs only
when prescriptively imposed according to style guides.<br><br>

The writing systems on which orthographies are based can be divided into a number of types,
depending on what type of unit each symbol serves to represent. The principal types are logographic
(with symbols representing words or morphemes), syllabic (with symbols representing syllables),
and alphabetic (with symbols roughly representing phonemes). Many writing systems combine features
of more than one of these types, and a number of detailed classifications have been proposed.
Japanese is an example of a writing system that can be written using a combination of logographic
kanji characters and syllabic hiragana and katakana characters; as with many non-alphabetic languages,
alphabetic romaji characters may also be used as needed.<br><br>

<h3>Orthography in a conlang</h3>
The extent to how much one needs to worry about orthography in creating their conlang depends on the method
they use to create the language. If you are making a language and using IPA as your base to create words,
then some orthography might be important so the language is readable.<br><br>

However, if you aren't using IPA for the base of your conlang, then you might not need any special orthography,
as you're basing the writing system off an existing one.<br><br>

You can also make a script for your language, though the script you create will be limited how much you can use
it. Scripts are easiest in conlangs where you want to physically write them, but to use it online requires creating
of a font which can be difficult depending on how your script works.<br><br>

{% endblock %}