{% extends "Layout.html" %}

{% block title %}Blog: Creating an Ixaili Poem{% endblock %}

{% block pageTitle %}Creating an Ixaili Poem{% endblock %}

{% block pageText %}
<div class="cf">
    <img src="{{url_for('static', filename='images/lechuza.png')}}" alt="A black and white photo of a barn owl">
</div>
<br>
<h3>Salamatullah E.</h3>

While writing the short story, <i>Lechuza</i>, I found that I wanted to include something more than just a few
words in the Ixaili language. I wanted a poem, a song of sorts.<br><br>
I'm no stranger to putting my conlang to use with single words, or pieces of dialogue, but the endevor of creating
a poem felt slightly daunting. While I wouldn't say there's a right or wrong way for poetry, to me, poetry means
writing something more than just words or sentences. Dialogue or paragraphs are like a plain cake with white frosting,
they work and get the job done just fine. But poetry is like a 3 tiered cake with colors and pipework and fondant.<br><br>
With that, I had my work cut out for me. I needed to not just translate something into Ixaili, but try to use the Ixaili
language to express something poetically. I needed to come up with metaphors or turns of phrases in the Ixaili language.
It would be easy to say someone would be an outsider or not fit in, but I wanted to say that <i>poetically</i>.<br><br>
In this way, writing poetry in a conlang is not too unlike writing poetry in one's first language, it requires the
creativity and passion. But as a polyglot, I know that poems mean something more in their native tongue, that translating
a poem to English looses its meaning and impact. I had to put myself in the shoes of an Ixaili speaker, and find the words
that would have meanings.<br><br>

<h4>Zuùiel zuñūn Xáháipūz Tūlun</h4>
Wioulūz piutyilȳ pùn Xáháipūz Tūlun záu sityutl ziá sūni<br>
Ichpui uain nutl tūnzȳhqu semouz sūni<br>
Pui miuozuah tipa zitleliez kimei sūni<br>
Zehân tūn zui nge zah tutyoluahah pe netluahah sūni<br>
Wioulūz wioulū iáu nūmih nuh pùn Xáháipūz Tūlun sūni<br><br>

Tūniez pùhqouxl zu kiupa wiuñȳ kimei sūni<br>
Zehân supeil tutyoleipi ngá zah kimei sūni<br>
Pui shū we nguapah kimei ngiñi nūmih wol jùleh shū we kimei sūni<br>
Wi shū we Timiou nge Wioulūz atyi sūni<br>
Shū ta pùn tsemuol tu puamul ngiñi sūni<br><br>

Xietynâzol tinù Nguozo nuauh kimei sūni<br>
Piutyilȳol tinù Izâl nuauh kimei sūni<br>
Zyochyilun’ol tinù Ápū nuauh kimei sūni<br>
Izâl tinù Nguozo zuñūn wiuñie Ixl nuauh sūni<br>
Iáun’ piutyilȳ szo titl nu iáu sūni<br><br>

<br><br>

<h4>A Prayer for Xáháipūz Tūlun (English)</h4>
May the lost dead on Xáháipūz Tūlun pass through easy<br>
May the Ichpui guide the souls beyond the mortal plane<br>
May eyes be shielded from the Divine<br>
May mortal hands not cut or touch the thread of fate <br>
May the dead remain dead and not return on Xáháipūz Tūlun<br><br>

May mortals changing the natural order be punished<br>
May their dirty hands be severed by fate<br>
May their eyes be forever open and their aura numb<br>
May their body carry the mark of the dead<br>
May they live forever foreign on every land<br><br>

May the desecrated be returned to Nguozo<br>
May the lost be returned to Izâl<br>
May the unfortunate be returned to Apū<br>
May Izâl return to Nguozo for one day<br>
May no one remain lost when the sun returns<br><br>


<br><br>



{% endblock %}