{% extends "Layout.html" %}
{% block title %}Word Structure{% endblock %}

{% block pageTitle %}Linguistics: Word and Sentence Structure{% endblock %}

{% block pageText %}
<div class="cf">
    <img src="{{url_for('static', filename='images/learn.jpg')}}" alt="Scrable tiles spelling out LEARN">
</div>
<br>
<h3>Morphology</h3>
In linguistics, morphology (/mɔːrˈfɒlədʒi/[1]) is the study of words, how they are formed,
and their relationship to other words in the same language. It analyzes the structure of
words and parts of words such as stems, root words, prefixes, and suffixes. Morphology
also looks at parts of speech, intonation and stress, and the ways context can change a word's
pronunciation and meaning. Morphology differs from morphological typology, which is the classification
of languages based on their use of words, and lexicology, which is the study of words
and how they make up a language's vocabulary.<br><br>

While words, along with clitics, are generally accepted as being the smallest units of syntax,
in most languages, if not all, many words can be related to other words by rules that collectively
describe the grammar for that language. For example, English speakers recognize that the words
dog and dogs are closely related, differentiated only by the plurality morpheme "-s",
only found bound to noun phrases. Speakers of English, a fusional language, recognize these
relations from their innate knowledge of English's rules of word formation.
They infer intuitively that dog is to dogs as cat is to cats; and, in similar fashion, dog is to
dog catcher as dish is to dishwasher. By contrast, Classical Chinese has very little morphology,
using almost exclusively unbound morphemes ("free" morphemes) and depending on word order to convey
meaning. (Most words in modern Standard Chinese ["Mandarin"],
however, are compounds and most roots are bound.) These are understood as grammars that represent
the morphology of the language. The rules understood by a speaker reflect specific patterns or
regularities in the way words are formed from smaller units in the language they are using,
and how those smaller units interact in speech. In this way, morphology is the branch of
linguistics that studies patterns of word formation within and across languages and attempts to
formulate rules that model the knowledge of the speakers of those languages.<br><br><br>



<h3>Word Order</h3>
In linguistics, word order typology is the study of the order of the syntactic constituents of a language,
and how different languages employ different orders. Correlations between orders found in different syntactic
sub-domains are also of interest. The primary word orders that are of interest are<br><br>
<ul>
    <li>the constituent order of a clause, namely the relative order of subject, object, and verb;</li>
    <li>the order of modifiers (adjectives, numerals, demonstratives, possessives, and adjuncts) in a noun phrase;</li>
    <li>the order of adverbials.</li>
</ul>

Some languages use relatively fixed word order, often relying on the order of constituents
to convey grammatical information. Other languages—often those that convey grammatical information
through inflection—allow more flexible word order, which can be used to encode pragmatic information,
such as topicalisation or focus. However, even languages with flexible word order have a preferred or
basic word order,[1] with other word orders considered "marked".<br><br>

Constituent word order is defined in terms of a finite verb (V) in combination with two arguments,
namely the subject (S), and object (O). Subject and object are here understood to be nouns, since
pronouns often tend to display different word order properties. Thus, a transitive sentence has
six logically possible basic word orders:<br><br>

<ul>
    <li>about half of the world's languages deploy subject–object–verb order (SOV);</li>
    <li>about one-third of the world's languages deploy subject–verb–object order (SVO);</li>
    <li>a smaller fraction of languages deploy verb–subject–object (VSO) order;</li>
    <li>the remaining three arrangements are rarer: verb–object–subject (VOS) is slightly more common than object–verb–subject (OVS), and object–subject–verb (OSV) is the rarest by a significant margin
</li>
</ul>





{% endblock %}